body { margin: 0;}

p, h1, h2, h3, h4, h5, h6 { font-family: 'Titillium Web', sans-serif;margin:0; }

.team-hidden-container { margin:0;background-color:#3a434c;padding:20px 0; }
.team-hidden { margin:0 auto;width:980px;overflow:hidden; }
.team-hidden-left { margin:0;width:580px;float:left; }
.team-hidden-right { margin:0;width:400px;float:left; }
.team-hidden-right p { color:white;margin:0;text-align:right }
.team-hidden-left h3 { color:white;margin:0; }

.team-header-container { background-color:#eef0f3;padding:40px 0; }
.team-header { width:980px;margin:0 auto;overflow:hidden; }
.team-name { width:730px;margin:0;float:left; }
.team-raised { width:250px;margin:0;float:left;padding-top:5px; }

.team-main-container { margin:0;padding:40px 0;min-height:600px; }
.team-main { width:980px;margin:0 auto;overflow:hidden; }
.team-description { margin:0;width:690px;float:left;padding-right:40px; }
.team-side { margin:0;width:250px;float:left; }
.description-container { padding-bottom:30px;border-bottom:1px solid #eee; }
.side-box { margin-bottom:20px;border-bottom:1px solid #eee;padding-bottom:20px; }
.side-box-bottom { margin-bottom:20px;padding-bottom:20px; }
.comment-container { margin-top:30px;}


.footer-container { background-color:#eef0f3;margin:0;}
.footer { background-color:#eef0f3;padding:40px 0;width:980px;margin:0 auto; }

.gray-text { color:#777; }
.hdr-text { color:#8f9cab;line-height:1.4; }
.trip-info { font-size:1.3em;line-height:1.5;margin-bottom:15px; }
h1.raised-amt { font-size:2.7em;text-align:right;margin-bottom:5px;line-height:1;color:#9cc700; }
p.raised-text { font-size:1.8em;text-align:right;margin:0;line-height:1;color:#8f9cab;font-weight:200; }
h4.ft-app { margin:10px 0; }
h2.side-hdr { margin-top:0;line-height:1;margin-bottom:10px;font-weight:400; }
p.side-member {margin:0;line-height:1.8;font-size:1.15em;margin-left:2px;font-weight:200; }